{% include 'includes/header.html.twig' %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{ meta['site_name'] }} site efficiency report</h1>
    <p>Report run across the top <strong>{{ meta['limit'] }}</strong> site{% if meta['limit'] > 1 %}s{% endif %} using the most PHP resources.<br>
      Report period <strong>{{ meta['start'] }}</strong> → <strong>{{ meta['end'] }}</strong> ({{ meta.timezone }}).
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-sm-12">
      <h2>Sites</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Domain</th>
            <th class="text-right">PHP usage</th>
            <th class="text-right">Avg page load</th>
            <th class="text-right">Drupal requests</th>
            <th class="text-right">Page views</th>
            <th class="text-right">PHP time vs page views</th>
          </tr>
        </thead>
        <tbody>
          {% for index, site in sites %}
            {# Work out the percentage of pageviews this site has. #}
            {% set pageviews_pct = 0 %}
            {% if site.pageviews > 0 %}
              {% set pageviews_pct = (site.pageviews / meta.total_pageviews * 100) %}
            {% endif %}

            {# Work out if the % of pageviews is > then the % of Drupal requests #}
            {% set class = 'success' %}
            {% if site.resource_consumption_pct > (2 * pageviews_pct) %}
              {% set class = 'danger' %}
            {% elseif site.resource_consumption_pct > pageviews_pct %}
              {% set class = 'warning' %}
            {% endif %}

            <tr class="{{ class }}">
              <td>{{ site.domain }}</td>
              <td class="text-right">{{ site.domain_run_time | number_format(0, '.', ',') }} ({{ site.resource_consumption_pct }})</td>
              <td class="text-right">{{ site.page_load_avg }}</td>
              <td class="text-right">{{ site.requests | number_format(0, '.', ',') }}</td>
              <td class="text-right">
                {% if site.pageviews > 0 %}
                  {{ site.pageviews | number_format(0, '.', ',') }}
                  ({{ pageviews_pct | number_format(2, '.', ',') }}%)
                {% else %}
                  0
                {% endif %}
              </td>
              <td class="text-right">
                {% if site.pageviews > 0 %}
                  {{ (site.resource_consumption_pct / pageviews_pct) | number_format(2, '.', ',') }}
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    <div class="col-sm-12">
      <div class="well">
        <h2>Help</h2>
        <dl>
          <dt>What is "PHP usage"?</dt>
          <dd>The total amount of PHP time spent servicing requests from a domain. In brackets it the percentage of all PHP time spent on a domain.</dd>

          <dt>What does "average page load" mean?</dt>
          <dd>The average number of seconds per request. Note that this includes web and non-web requests (e.g. drush).</dd>

          <dt>What is a "Drupal requests"?</dt>
          <dd>A request that hits Drupal has gone through Akamai and Varnish caching, and Apache htaccess blocks and redirects. Essentially these requests have a direct impact on platform utilisation.</dd>

          <dt>What is a "Page view"?</dt>
          <dd>A request that generated a Google Analytics page view. Note that these do not fire for certain logged in sections of the site, non-web requests, 404s and 500s etc.</dd>
        </dl>
      </div>
    </div>

  </div>

  <hr>

  <footer>
    <p><small>&copy; site efficiency {{ 'now' | date('Y') }}. Report generated at {{ 'now' | date('Y-m-d h:i a (T)') }}, taking {{ meta['execution time'] }} second{% if meta['execution time'] != 1 %}s{% endif %}.</small></p>
  </footer>
</div> <!-- /container -->

{% include 'includes/footer.html.twig' %}
