{% include 'includes/header.html.twig' %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{ meta['site_name'] }} site efficiency report</h1>
    <p>Report run across the top <strong>{{ meta['limit'] }}</strong> site{% if meta['limit'] > 1 %}s{% endif %} using the most PHP resources on the platform.<br>
      Report period <strong>{{ meta['start'] }}</strong> → <strong>{{ meta['end'] }}</strong> ({{ meta.timezone }}).
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-sm-12">
      <h2>Totals</h2>
      <ul>
        <li><strong>{{ meta.total_resource_consumption_friendly }}</strong> of PHP time</li>
        <li><strong>{{ meta.total_pageviews | number_format(0) }}</strong> page views in Google Analytics</li>
      </ul>



      <h2>Sites</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Hostname</th>
            <th class="text-right">PHP usage ↓</th>
            <th class="text-right">Drupal<br>requests</th>
            <th class="text-right">Average<br>page load</th>
            <th class="text-right">Page views</th>
            <th class="text-right">Average PHP time<br>for a page view</th>
            <th class="text-right">PHP time %<br>vs page views %</th>
          </tr>
        </thead>
        <tbody>
          {% for index, site in sites %}
            {# Work out the percentage of pageviews this site has. #}
            {% set pageviews_pct = 0 %}
            {% if site.pageviews > 0 %}
              {% set pageviews_pct = (site.pageviews / meta.total_pageviews * 100) %}
            {% endif %}

            {# Work out if the % of pageviews is > then the % of Drupal requests #}
            {% set class = 'success' %}
            {% if site.resource_consumption_pct > (2 * pageviews_pct) %}
              {% set class = 'danger' %}
            {% elseif site.resource_consumption_pct > pageviews_pct %}
              {% set class = 'warning' %}
            {% endif %}

            <tr class="{{ class }}">
              <td>{{ site.domain }}</td>
              <td class="text-right">{{ site.domain_run_time | number_format(0) }} ({{ site.resource_consumption_pct | number_format(2) }}%)</td>
              <td class="text-right">{{ site.requests | number_format(0) }}</td>
              <td class="text-right">{{ (site.domain_run_time / site.requests) | number_format(2) }}</td>
              <td class="text-right">
                {% if site.pageviews > 0 %}
                  {{ site.pageviews | number_format(0) }}
                  ({{ pageviews_pct | number_format(2) }}%)
                {% else %}
                  0
                {% endif %}
              </td>
              <td class="text-right">
                {% if site.pageviews > 0 %}
                  {{ (site.domain_run_time / site.pageviews) | number_format(2) }}
                {% else %}
                  0
                {% endif %}
              </td>
              <td class="text-right">
                {% if site.pageviews > 0 %}
                  {{ (site.resource_consumption_pct / pageviews_pct) | number_format(2) }}
                {% else %}
                  0
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    <div class="col-sm-12">
      <div class="well">
        <h2>Help</h2>
        <dl>
          <dt>What is "PHP usage"?</dt>
          <dd>The total amount of PHP time in seconds spent servicing requests from a particular hostname. In brackets it the percentage of overall PHP time spent on a particular hostname.</dd>

          <dt>What does "average page load" mean?</dt>
          <dd>The average number of seconds per request. Note that this includes web and non-web requests (e.g. drush).</dd>

          <dt>What is a "Drupal request"?</dt>
          <dd>A request that hits Drupal has gone through Akamai and Varnish caching, and Apache htaccess blocks and redirects. Essentially these requests have a direct impact on platform utilisation. A Drupal request can include web and non-web requests (e.g. drush).</dd>

          <dt>What is a "page view"?</dt>
          <dd>A request that generated a Google Analytics page view. Note that these do not fire for certain logged in sections of the site, all non-web requests (e.g. Drush), AJAX requests, 404s and 500s etc. A given page view can be comprised of more than 1 Drupal request. In brackets it the percentage of overall page views for a particular hostname.</dd>

          <dt>What does the column "PHP time % vs page views %" mean?</dt>
          <dd>Essentially this is a simple relative score of how much impact to the platform does a particular domain have relative to the amount of page views it generates. A score of > 2 means the row is red, a score of > 1 is yellow, and < 1 is green.</dd>
        </dl>
      </div>
    </div>

  </div>

  <hr>

  <footer>
    <p><small>&copy; site efficiency {{ 'now' | date('Y') }}. Report generated at {{ 'now' | date('Y-m-d h:i a (T)') }}, taking {{ meta['execution time'] | number_format(0) }} second{% if meta['execution time'] != 1 %}s{% endif %}.</small></p>
  </footer>
</div> <!-- /container -->

{% include 'includes/footer.html.twig' %}
